.header {
  padding-top: 10px;
}

.header-box__phone a {
  text-decoration: none;
  color: #464646;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 2px;
  margin-left: 50px;
}

.header-box__phone a:hover {
  text-decoration: none;
  color: #464646;
}

.header-box__city a {
  color: #666666;
  font-family: "Arial MT";
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  text-align: right;
}

.header-box__city a:hover {
  text-decoration: none;
  color: #666666;
}

.header-box__city img {
  margin-right: 8px;
  margin-left: 50px;
}

.header-box__work {
  color: #464646;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.header-box__schedule {
  color: #666666;
  font-family: "Arial MT";
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

.header-box__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-navbar {
  padding-top: 5px;
  height: 40px;
  background-color: #f6f6f6;
}

.header-navbar__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navbar__list ul li {
  margin-right: 35px;
}

.header-navbar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-aling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy-tranparent {
  width: 165px;
  height: 27px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #dadada;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}

.header-botton {
  padding-bottom: 10px;
}

.slider {
  margin-left: 90px;
  max-width: 420px;
  max-height: 360px;
}

.slider__item img {
  display: block;
  max-width: 100%;
}

.slider-nav {
  float: left;
  width: 62px;
}

.slider-nav__item {
  margin: 5px 0;
  height: 62px;
  cursor: pointer;
  opacity: 0.6;
}

.slider-nav__item:hover, .slider-nav__item.slick-current, .slider-nav__item.slick-center {
  opacity: 1;
}

.slider-nav__item:active {
  opacity: 1;
  border: 1px solid red;
}

.slider-nav__item:focus {
  opacity: 1;
  border: 1px solid red;
}

.slider-nav__item img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.home {
  padding-top: 18px;
}

.home-list {
  color: #666666;
  font-family: "Arial MT";
  font-size: 14px;
}

.home-list a {
  margin-left: 5px;
  color: #666666;
}

.home-list a:before {
  content: '<';
}

.home-guidance {
  text-align: right;
}

.home-content {
  margin-left: 48px;
}

.home-content__title {
  margin-top: 36px;
}

.home-content__assessment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-content__assessment_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-content__assessment_image-text {
  margin-left: 13px;
}

.home-content__assessment_vendor {
  margin-left: 120px;
}

.home-content__price {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Arial - Bold MT";
  font-weight: 700;
}

.home-content__price-cross {
  color: #333333;
  font-family: "Arial MT";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-decoration: line-through;
}

.home-content__list {
  margin-top: 35px;
}

.home-content__list li {
  margin-left: 65px;
  padding: 10px;
  color: #666666;
  font-family: "Arial MT";
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

.home-content__subtitle {
  margin-top: 38px;
  color: #1484c7;
  font-family: "Arial MT";
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-one {
  position: relative;
}

.list-one:before {
  content: url("../img/slider/verified.png");
  position: absolute;
  left: -32px;
  top: 17px;
}

.list-two {
  position: relative;
}

.list-two:before {
  content: url("../img/slider/exchange.png");
  position: absolute;
  left: -32px;
  top: 17px;
}

.list-three {
  position: relative;
}

.list-three:before {
  content: url("../img/slider/delivery-truck.png");
  position: absolute;
  left: -32px;
  top: 17px;
}

.home-content__assesment_image-text {
  margin-left: 13px;
}

.delivery {
  margin-bottom: 50px;
}

.delivery .section-title {
  margin-bottom: 42px;
}

.delivery-item {
  max-width: 360px;
  padding: 20px 27px 15px 13px;
  border-radius: 4px;
  border: 1px solid #dadada;
}

.delivery-item__title {
  color: #333;
  line-height: 36px;
}

.delivery-item__title.view {
  padding-left: 65px;
  background: url("../img/delivery/delivery-item-1.png") no-repeat left center;
}

.delivery-item__title.i-delivery {
  padding-left: 65px;
  background: url("../img/delivery/delivery-item-2.png") no-repeat left center;
}

.delivery-item__title.payment {
  padding-left: 65px;
  background: url("../img/delivery/delivery-item-3.png") no-repeat left center;
}

.review .section-title {
  margin-bottom: 18px;
}

.review-video {
  max-width: 813px;
}

.review-video img {
  max-width: 100%;
}

body {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.section-title {
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.product-title {
  color: #333;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.btn-transparent {
  width: 196px;
  height: 37px;
  border-radius: 4px;
  border: 1px solid #dadada;
  background-color: transparent;
  color: #666666;
  font-size: 16px;
  line-height: 36px;
}

.button {
  outline: none !important;
}
/*# sourceMappingURL=main.css.map */