.basket
	padding-top: 33px
	padding-bottom: 93px
	&-content
		&__box
			display: flex
			height: 1px
			border-bottom: 1px solid #cdcdcd
			&_configuration
				display: flex
				flex-direction: column
				&-much
					display: flex
					justify-content: space-between
			
#much
	width: 34px
	height: 22px
	text-align: center

.minus
	cursor: pointer
.plus
	cursor: pointer