.slider
  &__item
    img
      display: block
      max-width: 100%

.slider-nav
  float: left
  width: 62px
  height: 100%
  &__item
    margin: 5px 0
    height: 62px
    cursor: pointer
    opacity: 0.6
    &:hover, &.slick-current, &.slick-center
      opacity: 1
    &:active
      opacity: 1
      border: 1px solid red
    &:focus
      opacity: 1
      border: 1px solid red
    img
      display: block
      max-width: 100%
      max-height: 100%
.home
  padding-top: 9px
  padding-bottom: 20px
  &-list
    color: #666666
    font-size: 14px
    margin-bottom: 6px
    &__close
      &:before
        display: none
    a
      margin-left: 18px
      color: #666666
      position: relative
		  &.active
			  color: #1484c7
			  text-decoration: underline
  &-guidance
    text-align: center
    margin-left: 103px
    color: #666666
    font-size: 14px
    font-weight: 400
    line-height: 36px
  &-content
    margin-left: 64px
    &__title
      margin-top: 26px
      margin-bottom: 0
      color: #333333
      font-size: 29px
      font-weight: bold
      line-height: 36px
    &__assessment
      display: flex
      &_rating
        display: flex
				align-items: center
    &__price
      font-size: 30px
      font-weight: 400
      line-height: 36px
      font-weight: 700
      margin-top: -6px
      display: flex
      color: #333333
      &_discount
        position: relative
        margin-left: 20px
        &:before
          content: "25%"
          position: absolute
          font-size: 16px
          left: 8px
          top: 3px
          color: #333333
      &-cross
        color: #333333
        font-size: 20px
        font-weight: 400
        line-height: 36px
        text-decoration: line-through
        margin-top: 24px
    &__list
      li
        margin-left: 65px
        padding: -3px
        color: #666666
        font-size: 16px
        font-weight: 400
        line-height: 36px
    &__subtitle
      margin-top: 18px
      color: #1484c7
      font-size: 23px
      font-weight: 400
      line-height: 36px
    &__button
      display: flex
      margin-top: 20px
      .button-product
        margin-top: 0
        margin-left: 16px
    &__mobile
      display: none

.home-content__assessment_vendor
	margin-left: 120px
      
.button
  &-blue
    width: 277px
    height: 55px
    border-radius: 4px
    background-color: #1484c7
    color: #ffffff
    font-size: 24px
    line-height: 36px
    border: none
  &-green
    width: 277px
    height: 55px
    border-radius: 4px
    background-color: #87bd23
    color: #ffffff
    font-size: 24px
    font-weight: 400
    line-height: 18px
    border: none
    margin-left: 16px


ul
  padding: 0
  margin: 0
  list-style: none

.list
  &-one
    position: relative
    &:before
      content: url('../img/slider/verified.png')
      position: absolute
      left: -37px
      top: 5px
  &-two
    position: relative
    &:before
      content: url('../img/slider/exchange.png')
      position: absolute
      left: -37px
      top: 5px
  &-three
    position: relative
    &:before
      content: url('../img/slider/delivery-truck.png')
      position: absolute
      left: -37px
      top: 5px

.home-content__assesment_image-text
  margin-left: 13px

.buy-two
  display: none

.subtitle
  &-mobile
    display: none

.home-list a
  &:hover
    color: #1484c7

.home-list a
  &:before
    content: '<'
    position: absolute
    left: -16px

.slick-slider
  max-width: 482px

.btn-buy-green
  transition: all .5s ease
  &:hover
    background-color: rgba(0, 0, 0, 0.15)
    background-color: #87bd23
    transition: all .5s ease
    border: 1px solid #87bd23

.call
  transition: all .5s ease
  &:hover
    transition: all .5s ease
    color: #333333
    border: 1px solid #333333