.slider
  margin-left: 90px
  &__item
    img
      display: block
      max-width: 100%

.slider-nav
  float: left
  width: 62px
  &__item
    margin: 5px 0
    height: 62px
    cursor: pointer
    opacity: 0.6
    &:hover, &.slick-current, &.slick-center
      opacity: 1
    &:active
      opacity: 1
      border: 1px solid red
    &:focus
      opacity: 1
      border: 1px solid red
    img
      display: block
      max-width: 100%
      max-height: 100%
.home
  padding-top: 18px
  padding-bottom: 31px
  &-list
    color: #666666
    font-size: 14px
    &__close
      &:before
        display: none
    a
      margin-left: 18px
      color: #666666
      position: relative
      text-decoration: none
      border-bottom: 1px solid #666666
      &:before
        content: '<'
        position: absolute
        left: -16px
      &:hover
        color: #1484c7
        border-bottom: 1px solid #1484c7
  &-guidance
    text-align: center
    margin-left: 103px
    color: #666666
    font-size: 14px
    font-weight: 400
    line-height: 36px
  &-content
    margin-left: 48px
    &__title
      margin-top: 15px
      margin-bottom: 0
    &__assessment
      display: flex
      &_rating
        display: flex
				align-items: center
    &__price
      font-size: 30px
      font-weight: 400
      line-height: 36px
      font-weight: 700
      margin-top: -6px
      display: flex
      color: #333333
      &_discount
        position: relative
        margin-left: 20px
        &:before
          content: "25%"
          position: absolute
          font-size: 16px
          left: 8px
          top: 3px
          color: #333333
      &-cross
        color: #333333
        font-size: 20px
        font-weight: 400
        line-height: 36px
        text-decoration: line-through
        margin-top: 24px
    &__list
      li
        margin-left: 65px
        padding: -3px
        color: #666666
        font-size: 16px
        font-weight: 400
        line-height: 36px
    &__subtitle
      margin-top: 18px
      color: #1484c7
      font-size: 23px
      font-weight: 400
      line-height: 36px
    &__button
      display: flex
      margin-top: 20px
    &__mobile
      display: none

.home-content__assessment_vendor
	margin-left: 120px
      
.button
  &-blue
    width: 277px
    height: 55px
    border-radius: 4px
    background-color: #1484c7
    color: #ffffff
    font-size: 24px
    line-height: 36px
    border: none
  &-green
    width: 277px
    height: 55px
    border-radius: 4px
    background-color: #87bd23
    color: #ffffff
    font-size: 18px
    font-weight: 400
    line-height: 18px
    padding-right: 48px
    padding-left: 48px
    border: none
    margin-left: 16px


ul
  padding: 0
  margin: 0
  list-style: none

.list
  &-one
    position: relative
    &:before
      content: url('../img/slider/verified.png')
      position: absolute
      left: -37px
      top: 5px
  &-two
    position: relative
    &:before
      content: url('../img/slider/exchange.png')
      position: absolute
      left: -37px
      top: 5px
  &-three
    position: relative
    &:before
      content: url('../img/slider/delivery-truck.png')
      position: absolute
      left: -37px
      top: 5px

.home-content__assesment_image-text
  margin-left: 13px

.buy-two
  display: none

.subtitle
  &-mobile
    display: none