.slider
  margin-left: 90px
  max-width: 420px
  &__item
    img
      display: block
      max-width: 100%

.slider-nav
  float: left
  width: 62px
  &__item
    margin: 5px 0
    height: 62px
    cursor: pointer
    opacity: 0.6
    &:hover, &.slick-current, &.slick-center
      opacity: 1
    &:active
      opacity: 1
      border: 1px solid red
    &:focus
      opacity: 1
      border: 1px solid red
    img
      display: block
      max-width: 100%
      max-height: 100%
  
