.rating
	display: flex
	flex-direction: row-reverse
	justify-content: flex-end
	&-item
		width: 22px
		color: #fdc635
		font-size: 28px
		cursor: pointer
		&.active,
		&.active ~ *,
		&:hover,
		&:hover ~ *
			color: #fbde12

.slick-track .slick-slide
	outline: none
.magnifier
	transform: translateY(-10px)
.arrow
	position: absolute
	top: 50%
	margin-top: -15px
	display: block
	width: 30px
	height: 30px
	color: #666666
	font-size: 20px
	&_right
		right: -20px
	&_left
		left: -20px
.arrow-nav
	position: absolute
	display: block
	width: 30px
	height: 30px
	color: #666666
	font-size: 20px
	z-index: 99
.is-active
.feedback-hidden
	display: none
	