@media only screen and (max-width: 1199px)
	.header
		&-box
			&__image
				img
					max-width: 100%
			&__phone
				a
					font-size: 16px
			&__work
				font-size: 16px
		&-navbar
			&__list
				ul
					li
						margin-right: 17px

	.add
		&-in
			&-basket
				background-color: #87bd23 !important
				margin-left: 0 !important

	.home
		&-guidance
			display: none
		&-content
			&__button
				margin-top: 10px
				text-align: center
				flex-wrap: wrap
				&_blue
					margin-bottom: 15px
			&__subtitle
				margin-top: 5px
			&__price
				&-cross
					margin-top: 0
			&__assessment
				&_vendor
					margin-left: 15px
					margin-top: 5px
			&__title
				font-size: 24px
				margin-bottom: 8px
			&__button
				display: flex
		&-list
			a
				margin-left: 15px

	.button
		&-green
			margin-left: 20px
			width: 220px
		&-blue
			width: 220px
		&-product
			background-color: #1484c7
			width: 277px
			margin-left: 0

	.slider
		margin-left: 0
		max-width: 100%
		max-height: 100%
		&-nav
			display: none
	
	.view
		line-height: 22px

	.product
		&-title
			font-size: 24px
			margin-top: 3%
		&-subtitle
			display: none
		&-content
			margin-top: 29px

	#menu
		&-five
			margin-left: 13px

	.footer
		&-content
			&__image
				margin-bottom: 8px
			&__mobile
				display: block
				margin-bottom: 2px
			&__text
				&_l
					line-height: 16px
			&__box
				margin-bottom: 14px
	
	.none
		display: none

	.manufacturer
		&-content
			&__box
				&-subtitle
					font-size: 14px
				&_price
					&-b
						font-size: 16px
					&-l
						font-size: 14px

	.btn
		&-form
			font-size: 15px

@media only screen and (max-width: 1188px)
	.modal
		&-slider
			&__container
				width: 900px

@media only screen and (max-width: 1100px)
	.button
		&-blue
			width: 200px
			font-size: 15px
		&-green
			width: 200px
			font-size: 15px

	.button
		&-product
			width: 277px


@media only screen and (max-width: 991px)
	.accept
		padding-bottom: 100px

	.sticky
		&-close
			display: none

	.manufacturer
		padding-top: 90px

	.add
		&-in
			&-basket
				background-color: #1484c7 !important

	.container
		max-width: none
		width: 95%

	.content
		&-center
			display: flex
			justify-content: center

	.view
		line-height: 40px
		
	.delivery
		&-item
			margin-bottom: 20px

	.header
		background-color: #fff
		&-box
			&__phone
				display: none
			&__city
				display: none
			&__work
				display: none
			&__schedule
				display: none
			&__btn
				display: none
		&-navbar
			display: none

	.home
		padding-top: 0
		&-guidance
			font-size: 13px
		&-list
			display: none
		&-content
			&__title
				display: none
			&__mobile
				display: block
				color: #333333
				font-family: "Arial - Bold MT"
				font-size: 24px
				font-weight: 400
				line-height: 24px
			&__assessment
				&_vendor
					display: none
				&_rating
					&-text
						margin-left: 13px
			&__subtitle
				line-height: 24px
				font-size: 22px
			&__button
				text-align: left
				margin-top: 15px
				&_blue
					display: none
			&__list
				margin-top: 14px
				ul
					li
						margin-left: 37px
						margin-top: 0
						&:before
							left: -37px

	.magnifer
		display: none

	.humburger
		display: block
	
	.btn
		&-green
			display: block
			width: 165px
			height: 27px
			border-radius: 4px
			background-color: transparent
			margin-left: 0px
			color: #333333
			font-family: "Arial MT"
			font-size: 16px
			position: relative
			padding-left: 15px
			outline: none !important

	.burger-end
		display: flex
		justify-content: space-evenly

	.button
		&-green
			display: none
		&-blue
			width: 277px
		&-product
			display: block

	.product
		&-content
			margin-top: 11px
		&-title
			margin-top: 0

	.or
		&-top
			display: flex
			flex-direction: column-reverse
		&-insode
			display: flex
			flex-direction: column-reverse

	.slider
		width: 350px

	.buy
		&-one
			display: none
		&-two
			display: block
			font-size: 24px
			
	.error
		display: flex
		justify-content: flex-end
	
	.content
		&-two
			width: 300px

	.slider
		&-mobile
			margin-top: 0

	.flex
		&-mobile
			display: flex
			justify-content: center
			flex-direction: column
			align-items: center
			margin-bottom: 20px

@media only screen and (max-width: 885px)
	.footer
		&-content
			&__box
				&_time
					font-size: 16px
				&_text
					font-size: 14px
				&_phone
					font-size: 16px
				&_email
					font-size: 16px

@media only screen and (max-width: 871px)
	.footer
		&-content
			&__image
				img
					width: 210px

@media only screen and (max-width: 841px)
	.footer
		&-content
			&__image
				margin-bottom: 22px
			&__mobile
				margin-bottom: 11px

@media only screen and (max-width: 781px)
	.footer
		&-content
			&__mobile
				margin-bottom: 40px
	
	.basket
		&-description
			&__text
				display: none
			&__box
				form
					display: flex
					flex-direction: column
				&_contact
					display: flex
					flex-wrap: wrap

	.form
		&-label
			display: flex
			flex-direction: column

@media only screen and (max-width: 767px)
	.container
		max-width: none
		width: 95% 
	
	.home
		&-content
			margin-left: 0
	
	.slider
		margin-top: 10px

	.error
		justify-content: center
		&-two
			display: flex
			justify-content: center
	
	.specifications
		&-content
			width: 400px
			margin-bottom: 0

	.content
		&-two
			margin-bottom: 20px

	.rating
		justify-content: center
		&-people
			justify-content: flex-end

	.people
		&-link
			&-two
				display: none

	.product
		&-content
			display: flex
			justify-content: center
			flex-direction: column
			align-items: center
			&__pricer
				&_cross
					display: flex
					align-items: flex-start

	.footer
		&-h
			text-align: center
			display: flex
			justify-content: center
			margin-bottom: 10px
		&-l
			text-align: right
		&-content
			&__image
				margin-bottom: 16px
				margin-top: 10px
			&__mobile
				margin-bottom: 20px

@media only screen and (max-width: 705px)
	.header-navber__mobile_window
		width: 40%

	.slider
		&-mobile
			width: 400px

@media only screen and (max-width: 699px)
	.home
		&-content
			&__price
				font-size: 26px

@media only screen and (max-width: 678px)
	.slider
		margin-top: 15%
		&-mobile
			margin-top: 0

@media only screen and (max-width: 646px)
	.button
		&-blue
			width: 260px

@media only screen and (max-width: 635px)
	.home
		&-content
			&__price
				&_discount
					margin-left: 5px

@media only screen and (max-width: 617px)
	.home
		&-content
			&__list
				li
					width: 210px
					line-height: 30px

	.list
		&-three
			&:before
				top: 14px
			

@media only screen and (max-width: 616px)
	.slider
		margin-top: 25%
		&-mobile
			margin-top: 0

@media only screen and (max-width: 603px)
	.add
		&-in
			&-basket
				width: 250px			

@media only screen and (max-width: 602px)
	.home
		&-content
			&__price
				display: flex
				flex-direction: column
				&_discount
					margin-left: 0

@media only screen and (max-width: 591px)
	.button
		&-blue
			width: 250px

@media only screen and (max-width: 581px)
	.header-navber__mobile_window
		width: 50%	

@media only screen and (max-width: 575px)
	.btn
		&-green
			width: 119px
			&:before
				left: 14px

	.add
		&-in
			&-basket
				width: 277px			

	.slider
		margin-top: 10px
		width: 300px
		margin: 0 auto
		&-mobile
			width: 400px
		
	.home
		&-content
			&__subtitle
				display: none
			&__assessment
				justify-content: center
			&__mobile
				text-align: center
			&__price
				display: flex
				flex-direction: row
				&_discount
					margin-left: 20px
			&__button
				display: flex
				justify-content: center
			&__list
				text-align: left
				margin-top: 17px
				margin-left: 25px
				li
					width: 300px
					line-height: 35px

	.list
		&-three
			&:before
				top: 5px
			
	.or
		&-top
			align-items: center
		&-mobile
			width: 290px
			text-align: center
			margin-top: 18px

	.subtitle
		&-mobile
			display: block
			width: 296px

	.footer
		&-h
			margin-bottom: 15px
		&-m
			display: flex
			justify-content: center
			text-align: center
			margin-bottom: 15px
		&-l
			display: flex
			justify-content: center
			text-align: center
			margin-bottom: 15px
		&-content
			&__image
				display: none
		
	.image
		&-footer
			display: block

@media only screen and (max-width: 551px)
	.contact
		&-phone
			width: 300px	

	.basket
		&-description
			&__box
				&_contact
					flex-wrap: wrap	
					justify-content: center
	
	.fio
		margin-right: 0
		input
			width: 300px !important

	.basket-description__box form
		width: 430px
		justify-content: center
		align-items: center

	.basket-description__box_contact-region input
		width: 300px

	.city
		flex-wrap: wrap
		justify-content: center
		input
			width: 300px
		&-one
			margin-right: 0

	.house
		flex-wrap: wrap
		justify-content: center
		&-one
			margin-right: 0
		&-two
			margin-right: 0
		input
			width: 300px

	.form-label
		&:before
			top: 32px
			right: 72px

@media only screen and (max-width: 525px)
	.basket-description__box form
		width: 400px

@media only screen and (max-width: 516px)
	.home
		&-content
			&__list
				li
					width: 229px
	
	.btn
		&-close
			display: none

	.btn
		&-green
			padding-left: 6px

	.home-content__list ul li
		width: 250px

@media only screen and (max-width: 516px)
	.btn
		&-green
			width: 53px
			margin-left: 40px
			&:before
				left: 14px
			span
				display: none

@media only screen and (max-width: 505px)
	.slider
		&-mobile
			width: 350px

@media only screen and (max-width: 492px)
	.header-navber__mobile_window
		width: 60%
	.modal-call
		padding-top: 30px
		&__window
			max-width: 300px
		&__title
			padding-left: 0
			text-align: center
			background: none
		&__label
			text-align: center

@media only screen and (max-width: 475px)
	.basket-description__box form
		width: 350px		

	.form-label
		&:before
			right: 47px

@media only screen and (max-width: 446px)
	.specifications
		&-content
			ul
				li
					br
						display: block

@media only screen and (max-width: 446px)
	.btn
		&-green
			margin-left: 0

@media only screen and (max-width: 442px)
	.tracking
		&-box
			&__form
				flex-wrap: wrap			
				&-input
					width: 270px
	.btn
		&-track
			width: 270px
			margin-left: 0
			margin-top: 10px
	.br
		display: block

@media only screen and (max-width: 434px)
	.slider
		&-mobile
			width: 300px

@media only screen and (max-width: 429px)
	.basket-description__box form
		width: 326px		

	.form-label
		&:before
			right: 28px	

@media only screen and (max-width: 410px)
	.header-navber__mobile_window
		width: 70%

@media only screen and (max-width: 407px)

	.contact
		&-phone
			width: 250px	
	
	.fio
		margin-right: 0
		input
			width: 250px !important

	.basket-description__box_contact-region input
		width: 250px

	.necessary
		margin-bottom: 30px
		text-align: center
		br
			display: block
	.city
		flex-wrap: wrap
		justify-content: center
		input
			width: 250px
		&-one
			margin-right: 0

	.house
		flex-wrap: wrap
		justify-content: center
		&-one
			margin-right: 0
		&-two
			margin-right: 0
		input
			width: 250px

	.basket-description__box form
		width: 277px		

@media only screen and (max-width: 400px)
	.btn
		&-green
			margin-left: 0

@media only screen and (max-width: 393px)
	.view
		line-height: 20px

@media only screen and (max-width: 374px)
	.slider
		&-mobile
			width: 250px
			height: 313px
			margin-top: 20px
			margin-top: 21px

			
@media only screen and (max-width: 361px)
	.basket-description__box form
		width: 265px

@media only screen and (max-width: 330px)
	.basket-description__box form
		width: 230px
	.tracking
		&-box
			&__text
				&_b
					font-size: 15px

@media only screen and (max-width: 330px)
	.header-navber__mobile_window
		width: 80%

@media only screen and (max-width: 323px)
	.payment
		line-height: 20px
	.i
		&-delivery
			line-height: 20px

@media only screen and (max-width: 320px)
	.accept
		padding-bottom: 50px

	.header
		&-box
			&__image
				width: 160px
	.btn
		&-green
			margin-left: 15px
			&:before
				left: 10px
	.humburger
		margin-left: 10px
	.description
		&-text
			margin-bottom: 24px
	.specifications
		padding-top: 28px
		padding-bottom: 28px
	.equipment
		&-text
			&_l
				margin-bottom: 0

	.form-label
		&:before
			right: 0	

